/* Open Systems Solutions */
/*
 * -moz and -webkit are used to define rounded corners 
 * and are part of the CSS3 draft and will not validate 
 * until CSS3 is ratified by W3C.  Because of this, there
 * is no support for IE.
 * 
 * Version 1.1: July 21, 2009
 * 
 */


body {
	background: #eae7dd; 
	font: 0.8em Verdana, sans-serif; 
	color: #333;
	margin: 0px;
	}
a {
	color: #fff;
	text-decoration: none;
	}
img {border: 0px;}
p {text-indent: 1.5em;}

/*canvas definition*/
#main {
	text-align: left;
    margin: 5px;
    margin-bottom: 50px;
	min-width: 800px;
}

/*top banner*/
#header {
	background-image:url(images/spread.gif);
	background-repeat: repeat;
	min-width: 800px;
	height: 134px;
	}
#seal{
	position: absolute;
	left: 50%;
	margin-left: -262px;
	height: 97px;
	width: 524px;
	background-image: url(images/header.gif);
	}
	
/*Rutgers logo top left */
#logo {
	top: 20px; 
	left: 1%; 
	width: 223px;
	height: 76px;
	position: absolute;
	float: right;

	}
	
/* the horizontal menu starts here, menu in top right with drop */
#listmenu {
	top: 0; 
	right: 1%; 
	width: 230px;
	height: 17px;
	font-size: .9em;
	color: #fff;
	position: absolute;
	float: right;
	background-color: #1e1e1e;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: px;
	float: left; /*makes the div enclose the list */
	}
#listmenu ul {margin: 0 0 0 -40px;}/* indents ul from edge of container */
#listmenu li:first-child {}
#listmenu li {
	float: left;	/* causes the list to align horizontally instead of stack */
	position: relative; /* positioning context for the absolutely positioned drop-down */
	list-style-type: none;	/* removes the bullet off each list item */
	margin: 0;
	}
#listmenu a {
	margin: 0; 
	padding: 0;
	display:block;
	padding:0 6px; /*creates space each side of menu item's text */
	text-decoration:none;	 /* removes the underlining of the link */
	color:#fff;	/* sets the type color */
	}
#listmenu a:hover {
	color:#f33;
	}
/* the horizontal menu ends here */

/* ********** the drop-down starts here ************** */
#listmenu ul li ul {
	padding: 0;
	margin: 0; /* prevents the TEMP value inheriting from the horiz menu - OK to remove if you remove TEMP above */
	position: absolute; /* positions the drop-down ul in relation to its relatively positioned li parent */
	width: 5em; /*sets the width of the menu - in combo with the li's 100% width, makes the menu stack*/
	left: -1px; /*aligns the drop exactly under the menu */
	z-index: 1;
	background-color: #1e1e1e;
	}
#listmenu ul li ul li {
	width: 50%; /* makes the list items fill the list container (ul) */
	border-left: 1px solid #000; /*  three sides of each drop-down item */
	border-right: 1px solid #000;
	}
/* make the drop-down display as the menu is rolled over */
#listmenu ul li ul {display: none;} /* conceals the drop-down when menu not hovered */
#listmenu ul li:hover ul {display: block; } /* shows the drop-down when the menu is hovered */

/* END OF LIST-BASED MENU */

/*Search box in top left */
#search {
	top: 30px; 
	right: 1%;
	width: 230px;
	height: 25px;
	position: absolute;
	vertical-align: top;
	text-align: right;
	float: right;
	z-index: 0;
	}
	
#search fieldset
{
     border: 0px;
}


/*search text color*/
#gs{
	color: #fff;
	font-size: .9em;
}

#go_button {
	vertical-align: bottom;
}

/* Links below search box */
#link_line {
	top: 70px;  
	right: 1%;
	width: 230px;
	height: 15px;
	color: #fff;
	position: absolute;
	float: right;
	font-size: .9em;
	text-align: right;
	}
	
/* Menu bar .. more like a twitterline at the moment*/
#menu {
	position: absolute;
	top: 100px;
	padding: 5px;
	margin: 0;
	font: 1.2em Verdana, sans-serif;
/*	background: #1e1e1e; */
	color: #fff;
	min-width: 800px;
	}
	
	
/*Center Content -- creates the white space for the background see also body{background}*/
#content {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
    background: #fff;
    max-width: 55%;
}

#content a {
    color:#000000;
    text-decoration:underline;
}

#content.wide {
    max-width: 97%;
}

#content.wide-with-news {
    max-width: 77%;
}

/* Box of text on left of page */
/* Change width if you would like to occupy the whole white area (ugly) */
#left {
	width: 95%;
	}
	
/* Surrounding div that contains right_top/middle/bottom */
#right_boxes {
	float: right;
	margin-bottom: 50px;
    }

/* First box of three within right_boxes */
#right_top {
	width: 310px;
	padding-bottom: 5px;
	}
#right_top a:link{
	color: #669;
	font-size: .8em;
}
#right_top a:visited{
	color: #669;
	font-size: .8em;
}

/* Second box of three within right_boxes */
#right_middle{
	width: 310px;
	padding-bottom: 0px;
	color: #000; 
	}
#right_middle a:link{
	color: #669;
	font-size: .8em;
}
#right_middle a:visited{
	color: #669;
	font-size: .8em;
}

/* Smaller lighter colored box that sits within rioght_middle which contains the actual login form */
#login_box {
	width: 276px;
	height: 209px;
	padding: 5px;
	margin: 0px;
	}
#login_box a:link{
	color: #669;
	font-size: .8em;
}
#login_box a:visited{
	color: #669;
	font-size: .8em;
}

/* Last of three boxes within right_boxes, contains a table that is flush against right_middle and has rounded edges on bottom */
#right_bottom {
	width: 310px;
	}
#right_bottom a:link{
	color: #669;
	font-size: .8em;
}
#right_bottom a:visited{
	color: #669;
	font-size: .8em;
}

/*Footer definition*/
#footer {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-image:url(images/footer.gif);
	background-repeat: repeat;
	padding-top: 2px;
	padding-bottom: 1px;
	margin-left: 20px;
	margin-right: 20px;
    color: #fff;
	text-align: center; 
    clear: right;
    bottom: 0%;
	min-width: 800px;
}

/*kmulvey Footer definition*/
/*#footer {
	background-image:url(images/footer.gif);
	background-repeat: repeat;
	padding-top: 2px;
	padding-bottom: 1px;
    color: #fff;
	text-align: center; 
    clear: right;
	position: fixed;
    bottom: 0%;
    width: 100%;
	min-width: 800px;
}*/

	
#footer a:hover {
	text-decoration:underline;
}

/* --- Page definition ends here --- */
/*------------------------------------------------------------------------------------------------------------------------------ */
/* --- Right boxes start here  */


/* defines the news table within right_top */
.news{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}


.news a:link {
	color: #666699;
}

.news a:link.rss-item {
	color: #000;
}

/* places the rounded edge in top left of table */
.news thead th.news-top-left
{
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
}

/* places the rounded edge in top right of table */
.news thead th.news-top-right
{
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
}

/* defines the darker colored top row */
.news th
{
	padding: 8px;
	font-weight: bold;
	color: #fff;
	background: #505050;
}

/* defines the lighter colored table row */
.news td
{
	padding: 8px;
	background: #d2d2d2;
	border-top: 1px solid #fff;
	color: #669;
}

/* changes rows to darker color on mouse over */
.news tbody tr:hover td
{
	background: #d6d2c9;
}

.news tfoot tr:hover td
{
        background: #d6d2c9;
}

/* places the rounded edge in bottom left of table */
.news tfoot td.news-foot-left
{
	-moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

/* places the rounded edge in bottom right of table */
.news tfoot td.news-foot-right
{
	-moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

/* The following defines the darker box that is the background of the login box. This is within the right_middle div.  */
#login-outer{
        width: 310px;
        border: 0px;
        margin: 0px;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        background: none repeat scroll 0 0 #505050;
        padding-top:15px;
        -moz-border-radius-topleft: 10px;
        -webkit-border-top-left-radius: 10px;
        -moz-border-radius-topright: 10px;
        -webkit-border-top-right-radius: 10px;
}

/* places the rounded edge in top left of table */
#login-outer thead th.login-outer-top-left
{
	-moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
}

/* places the rounded edge in top left of table */
#login-outer thead th.login-outer-top-center
{
	background: #505050;
}

/* places the rounded edge in top right of table */
#login-outer thead th.login-outer-top-right
{
	-moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
}

/* defines the darker colored top row */
#login-outer th
{
	padding: 8px;
	font-weight: normal;
	font-size: 12px;
	color: #039;
	background: #505050;
}

/* sets color to sides of the outer login box (darker)  */
#login-outer tbody td.login-outer-sides{
	background: #505050;
}

/* The following designed the login box of lighter color that contains the actual login fields.  This is within the right_middle div. */
#login-box{
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 12px;
        width: 270px;
        text-align: left;
        border-collapse: collapse;
        margin: 0px;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        background: none repeat scroll 0 0 #D2D2D2;
        padding: 5px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
}

/* places the rounded edge in top left of table */
#login-box thead th.login-top-left
{
	-moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
}

#login-top-center {
        color: #505050;
        font-weight: bold;
        text-align: center;
        border-bottom: 1px
        solid #000000;
        padding-bottom: 5px;
}

/* sets color of top center of table */
#login-box thead th.login-top-center
{
	color: #505050;
	font-weight: bold;
	text-align: center;
	background: #d2d2d2;
	border-bottom: 1px solid #000;
}

/* places the rounded edge in top right of table */
#login-box thead th.login-top-right
{
	-moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
}

/* defines the darker colored top row */
#login-box th
{
	padding: 5px;
	font-weight: normal;
	font-size: 12px;
	color: #000;
	background: #d2d2d2;
}

/* defines color for extra side cells  */
#login-box tbody td.login-sides{
	background: #d2d2d2;	
	color: #000;
	text-align: center;
}

/* defines color for center footer cell  */
#login-box tfoot td.login-sides{
	background: #d2d2d2;	
	color: #000;
}

/* places the rounded edge in bottom right of table */
#login-box tfoot td.login-foot-right{
	background: #d2d2d2;
	-moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

/* places the rounded edge in bottom left of table */
#login-box tfoot td.login-foot-left{
	background: #d2d2d2;
	-moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

/* definition of the table that contains the two input boxes, in order to center the boxes and text */
#login-fields{
        width: 154px;
        border: 0px;
}

#login-fields td.label{
	text-align: right;
}

/* defines the table within right_bottom */
#login-bottom{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 310px;
	text-align: left;
	border: 0px;
	border-collapse: collapse;
}

#login-bottom a:link {
	color: #fff;
}

#login-bottom a:hover {
	color: #fff;
}

/* defines the top row color, no hovering*/
#login-bottom th
{
	padding: 8px;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	background: #505050;
}



/* defines the darker colored table row */
#login-bottom td
{
	padding: 8px;
	background: #505050;
	color: #fff;
}



/* changes rows to lighter color on mouse over */
#login-bottom tbody tr:hover td
{
	background: #d2d2d2;
}

/* negates changes rows to lighter color on mouse over b/c cell empty */
#login-bottom tbody tr:hover td.empty
{
	background: #505050;
}
#login-bottom tfoot tr:hover td.login-bottom-footer-empty
{
	background: #505050;
}

#login-bottom tbody tr:hover td a:link
{
	color: #000;
}

/* places the rounded edge in bottom left of table */
#login-bottom tfoot td.login-bottom-footer-empty
{
        -moz-border-radius-bottomleft: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-bottomright: 10px;
        -webkit-border-bottom-right-radius: 10px;
}

/* places the rounded edge in bottom left of table */
#login-bottom tfoot td.login-bottom-footer
{
        -moz-border-radius-bottomleft: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-bottomright: 10px;
        -webkit-border-bottom-right-radius: 10px;
}

#login-bottom tfoot tr:hover td {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#D2D2D2 none repeat scroll 0 0;
}

/* places the rounded edge in bottom left of table */
#login-bottom tfoot td.login-bottom-foot-left
{
	-moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

/* places the rounded edge in bottom right of table */
#login-bottom tfoot td.login-bottom-foot-right
{
	-moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

/* places the rounded edge in top left of table */
#news thead th.news-header
{
        -moz-border-radius-topleft: 10px;
        -webkit-border-top-left-radius: 10px;
        -moz-border-radius-topright: 10px;
        -webkit-border-top-right-radius: 10px;
}

/* places RSS channel title */
#rss-title
{
        float: left;
        width: 270px;
}

/* legacy - places RSS All News channel title */
#news thead div#rss-all-title
{
        float: left;
        width: 270px;
}

#login-bottom thead th#rss-service-header-rounded
{
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
}

/* places the rounded edge in bottom left of table */
#news tfoot td.news-footer
{
        -moz-border-radius-bottomleft: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-bottomright: 10px;
        -webkit-border-bottom-right-radius: 10px;
}

#login-poweredby{
        text-align: center;
}

#login-button{
        text-align: center;
}

/* Webtools */
input.textWebtools {
    border: 1px solid #BFBFBF;
    font-size: x-large;
    height: 30px;
    width: 200px;
}
input.checkboxWebtools {
#    width: 25px;
#    height: 25px;
}
input.buttonWebtools {
    font-size: large;
    height: 35px;
}
select.webtools {
    font-size: large;
    height: 35px;
}
fieldset.webtools {
    padding-top: 25px;
    padding-bottom: 25px;
}
legend.webtools {
    padding: 2px 6px
} 

/* RCI Guest Account Application */

#symbol-key {}
#symbol-key2 {}

#symbol-key li {
  font-size:12px;
}
#symbol-key2 li {
  font-size:12px;
  display:inline;
  list-style-type: none;
}

#symbol-key li.voted-renew {
  list-style-image:url(images/voted_renew.png);
}

#symbol-key li.voted-delete {
  list-style-image:url(images/voted_delete.png);
}

#symbol-key li.vote-defer {
  list-style-image:url(images/vote_defer.png);
}

#symbol-key li.vote-delay {
  list-style-image:url(images/vote_delay.png);
}

#symbol-key li.vote-none {
  list-style-image:url(images/vote_none.png);
}

#hide {
  display:none;
}

#hide-designee {
  display:none;
}

#hide a{
  text-decoration:none;
}

#show {
  display:block;
}

#show-designee {
  display:block;
}

#show a{
  text-decoration:none;
}

img.up-button {
  border-style:inset;
  border-width:thin;
}

img.down-button {
  border-style:outset;
  border-width:thin;
}

tr.cells td {
#  border-style:solid;
#  border-top-color:black;
border-bottom-style:solid;
border-bottom-color:black;
border-bottom-width:1px;
}

# RCI Guest Account Web Application
div.container {
  border-bottom: 1px solid #333;
}

div.container-header {
  border-bottom: 3px solid #333;
}

div.container-header2 {
  padding-bottom: 10px;
}

div.spacer {
  clear: both;
}

div.float {
  float: left;
  height: 16px;
}

div.float p.vote {
  width: 160px;
  text-align: center;
}

div.float p.youvoted {
  width: 160px;
  text-align: right;
}

div.g_netid {
  float: left;
}

div.s_netid {
  float: left;
}

div.a_netid {
  float: left;
}

div p {
  width: 75px;
  text-align: left;
  text-indent: 0;
}

div.youvoted_image {
  float: left;
  width: 160px;
  text-align: right;
}

div.g_image {
  float: left;
  width: 160px;
  text-align: center;
}

div.s_image {
  float: left;
  width: 160px;
  text-align: center;
}

div.a_image {
  float: left;
  width: 160px;
  text-align: center;
}

div.designee {
  float: left;
  display: none;
}

input.textDesignee {
  border: 1px solid #BFBFBF;
  height: 30px;
  width: 125px;
  font-size: x-large;
  margin-top: 20px;
}

div p.header {
  font-size: large;
  padding-left: 50px;
}

span.designee-number {
  float: left;
  font-size: x-large;
  width: 50px;
  margin-top: 20px;
}

span.designee-error {
  clear: left;
  color: #ff0000;
  font-size: medium;
}

div#addelement {
  padding-left: 181px;
}

input#submit-button {
  height: 50px;
  font-size: x-large;
  margin-top: 25px;
  margin-left: 50px;
}

input#renew-submit-button {
  height: 50px;
  font-size: x-large;
  margin-top: 25px;
  margin-left: 745px;
}

#greeting {
  font-weight: bold;
}

/* END RCI Guest Account Application */
